[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-sentry = "*"
city-scrapers-core = {extras = ["aws", "gcs"], version = "*"}
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
scrapy-wayback-middleware = "*"
google-cloud-storage = "*"
psycopg2-binary = "*"
pdfplumber = "*"
python-dateutil = "*"
importlib-resources = "*"
jsonschema = "*"
flatdict = "*"

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "*"
